<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/jhin-mista/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="De.Bczen.NumeralConverters" />
    </packageSource>
  </packageSourceMapping>
</configuration>